<div class="admin">
    <h1>Admin Panel</h1>
    <p>Welcome to the admin panel. From here you can manage users and generate keys.</p>

    <ul>
        <li><a href="/admin/generate">Generate activation keys</a></li>
        <li><a href="/admin/users">Manage users</a></li>
        <li><a href="/admin/keys">Manage keys</a></li>
    </ul>
</div>